header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;

  width: 100%;
}
.logo{
   width: 50%;
}

.user-auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 10px;
}

.btn-logout,
.btn-login {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-logout:hover,
.btn-login:hover {
  background-color: #333;
  color: #fff;
}
