.social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.social-btn {
    background-color: #4267B2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.social-btn:hover {
    background-color: #38589E;
}